<div class="container">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3" style="border: 2pt solid; border-radius: 10px; box-shadow: 5px 5px 10px">
      <h1 class="display-4">
        edit goal
      </h1>

      <%= render 'edit', goal: @goal %>

      <hr>

      <%= link_to 'Back', :back, class: "btn btn-outline-secondary btn-block", style: "margin-bottom: 5px" %>
    </div>
  </div>
</div>
