<%# NOTE: we don't like uncommented code unless it's for TODO later%>
<!--<p style="color: green">< notice ></p>

< content_for :title, "Goals" >

<h1>Goals</h1>

<div id="Goals">
  < @Goals.each  |goal| >
    < render goal >
  <  >
</div>-->
<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-4">
      feed
    </h1>

    <p class="lead text-muted">posts by people you follow</p>
  </div>
  <div id="goals">
  <% @user.own_goals.each do |goal| %>
    <%= render "goals/goal", goal: goal %>
  <% end %>
  </div>
</div>
